@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Karla&family=Playfair+Display:ital@0;1&display=swap");

:root {
  --black: #121212;
  --white: #e9e6e4;
}

body {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--white);
  color: var(--black);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lime;
}
