@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Karla&family=Playfair+Display:ital@0;1&display=swap");

@font-face {
  font-family: "Surt Light";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Surt-Light.otf) format("otf");
}

@font-face {
  font-family: "Surt Extended";
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Surt-BoldExtended.otf) format("otf");
}

@font-face {
  font-family: "Surt";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Surt-Regular.otf) format("otf");
}

@font-face {
  font-family: "Reckless Neue TRIAL";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/RecklessNeueTRIAL-Regular.otf) format("otf");
}

@font-face {
  font-family: "Reckless Neue TRIAL";
  font-weight: normal;
  font-style: italic;
  src: url(/fonts/RecklessNeueTRIAL-BookItalic.otf) format("otf");
}

:root {
  --black: #121212;
  --white: #e9e6e4;
}

body {
  box-sizing: border-box;
  font-family: "Surt";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #37a969;
}
